.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
}

.box-img{
    border:4px solid #e7e6ec;
}

.box-img img{
    width: 100%;
    height: auto;
    display: block;
}